.about-us-container {
  @extend .flex-row;
  @extend .full-width;
  padding: 0 128px;

  .about-us-text-container {
    padding: 16px 64px;
    margin: 0 64px;
  }

  .about-us-text {
    @extend .flex-row;
    font-size: 16px;
  }
}