.videos-page-container {
  @extend .flex-row;
  @extend .full-width;
  padding: 16px;

  .video-grid {
    display: grid;
    justify-items: center;
    align-content: center;
    grid-template-columns: repeat(auto-fit, minmax(345px, 1fr));
    grid-column-gap: 16px;
    grid-row-gap: 64px;
    overflow-y: auto;
  }

  .video-grid-item {
    @extend .flex-row;
    @extend .full-width;
    padding: 24px 8px;
    max-width: 605px;
    min-width: 325px;
  }

  .tiktok-video {
    height: 600px;
    width: 322px;
    border: 0;
    overflow-x: auto;
  }
}