.image-gallery-container {
  .flex-column;
  .space-between;
  align-items: center !important;
  min-height: 440px;

  .change-image-arrow {
    font-size: 48px;
  }

  .change-image-button {
    background-color: black;
  }
}