.site-layout-sub-header-background {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.site-layout-background {
  background: black;
}

.header-title {
  padding: 16px;
  justify-content: flex-end !important;
  align-items: center !important;
}

.app-header {
  height: unset;
  line-height: unset;
}

.profile {
  align-items: baseline !important;
  color: white;

  .user-name {
    padding-right: 8px;
    cursor: pointer;
  }
}

.logo {
  padding: 16px;
}

.pad-right-md {
  padding-right: 16px;
}

.pad-right-lg {
  padding-right: 32px;
}