.collapsible-header-container {
  @extend .full-width;

  .logo-and-title-container {
    @extend .flex-row;
    @extend .full-width;
    padding: 16px 0;
  }

  .collapse-button {
    position: fixed;
    top: 16px;
    left: 16px;
    z-index: 1000;
  }

  .collapsible-header {
    @extend .full-width;
    padding: 32px;
    transition: transform 0.75s;
    transform-origin: top;
    position: fixed;
    top: 0;
    z-index: 999;
  }

  .collapsed {
    transform: scaleY(0);
  }

  .expanded {
    transform: scaleY(1);
    height: 100vh;
  }
}