.gallery-description-text {
  font-size: 16px;
}

.image-gallery-container {
  @extend .flex-column;
  align-items: center !important;

  .navigation-buttons {
    @extend .flex-row;
    position: relative;
  }

  .display-image-container {
    @extend .flex-row;
    position: relative;
  }

  .display-image {
    @extend .flex-row;
    background: black;
  }

  .image-description {
    @extend .flex-row;
    //color: #B0B3B8;
    padding: 0 8px;
    font-size: 16px;
  }

  .change-image-arrow {
    font-size: 48px;
  }

  .change-image-button {
    position: absolute;
    top: 50%;
  }

  .display-image-container:hover .image-description {
    display: unset;
  }

  .left-nav {
    left: 8px;
  }

  .right-nav {
    right: 8px;
  }
}