.gallery-description-text {
  font-size: 16px;
}

.image-gallery-container {
  @extend .flex-column;
  align-items: center !important;
  min-height: 508px;
  position: relative;

  .navigation-buttons {
    @extend .flex-row;
    position: absolute;
    bottom: -16px;
  }

  .display-image-container {
    position: relative;
  }

  .display-image {
    @extend .flex-row;
    padding: 32px 0;
    min-height: 444px;
  }

  .image-description {
    color: #B0B3B8;
    position: absolute;
    padding: 0 8px;
    font-size: 16px;
  }

  .change-image-arrow {
    font-size: 48px;
  }

  .change-image-button {
    background-color: black;
  }
}